
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #dcdedf;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(
    to right, 
    rgb(180, 180, 180) 0%, 
    rgb(144, 144, 144) 100%
  );
}
body a{
  text-decoration: none;
}
body::-webkit-scrollbar{
  display: none;
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 6000000000s 0s, color 6000000000s 0s;
}
::-webkit-input-placeholder { 
  color: transparent;
}
:hover::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}