@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);

.divCreate {
    color: white;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: quicksand;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.int {
    color: rgb(65, 65, 65);
    margin: 20px;
    border-style: none;
    place-content: center;
    border: none;
    width: 400px;
    height: 35px;
    text-align: center;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(30px 10px 10px rgb(116, 116, 116));
    transition: all 0.25s ease;
    cursor: text;
}
.int::placeholder{
    color:rgb(104, 104, 104);
    background-color: transparent;
}
.int::placeholder:hover{
    color:rgb(255, 255, 255);
    background-color: transparent;
}
.int:hover{
    background: #808080;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    transition: all 0.25s ease;
  }

.content-select2 select {
    font-family: quicksand;
    cursor: pointer;
    list-style: none;
    margin: 10px;
    padding: 0px 40px;
    height: 42px;
    font-size: 1em;
    border: none;
    color: rgb(94, 94, 94);
    border-radius: 8px;
    transition: all 0.25s ease;
    filter: drop-shadow(30px 10px 10px rgb(116, 116, 116));
}
.content-select2 select:hover{
    background: #808080;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    transition: all 0.25s ease;
  }
.content-select2 select option:hover{
    background-color: #808080;
}
.buttonHome{
    font-family:quicksand ;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    filter: drop-shadow(30px 10px 10px rgb(116, 116, 116));
    transition: all 0.25s ease;
}
.buttonHome:hover{
        transform: scale(1.05);
        transition: all 0.25s ease;
        background: #808080;
        color: rgb(255, 255, 255);
}
.boop{
    font-family:quicksand ;
    font-size: 20px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin: 10px;
    align-items: center;
    background-color:rgb(255, 255, 255);
    border: none;
    border-radius: 15px;
    filter: drop-shadow(30px 10px 10px rgb(116, 116, 116));
    transition: all 0.25s ease;
}
.boop:hover{
    transform: scale(1.05);
    transition: all 0.25s ease;
    background: #808080;
    color: rgb(255, 255, 255);
}

.cube {
    width: 180px;
    height: 30px;
    background: rgba(162, 162, 162, 0.8);
    display: flex;
    border: none;
    padding: 0px;
    overflow: hidden;
    outline: none;
    box-shadow: 0 0 60px 10px rgba(0,0,0,0.2);
    transition: all ease 200ms;
    filter: drop-shadow(30px 10px 10px rgb(79, 79, 79));
    border-radius: 20px;
}

.cubecontent {
    font-family: quicksand;
    font-weight: 400;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 180px;
    height: 30px;
}

.pselect{
    padding: 0%;
    margin: 0%;
    margin-right: 5px;
}

.bselect{
    background-color: antiquewhite;
    padding: 0%;
    margin: 0%;
    border: none;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer
}
.boxcontenttemp {
    display: flex;
    justify-content: center;
    column-gap: 20px;
    row-gap: 20px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw;
    height: 100px;
}