.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    filter: drop-shadow(30px 10px 10px rgb(116, 116, 116));
}

.searchbar input {
    border: none;
    height: 50px;
    width: 480px;
    border-radius: 15px 0px 0px 15px;
    padding: 0px 0px 0px 15px;
    font-size: 20px;
    color: dimgray;
    font-family: quicksand;
    font-weight: 400;
}
.searchbar input:focus{
    border: none;   
    outline: none;    
}
.lupa{
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color:rgb(112, 107, 101);
    border: none;
    border-radius: 0px 15px 15px 0px;
}
.lupa svg{
    width: 80%;
    fill: white;
}