@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
.paginado {
    font-family: quicksand;
    display: flex;
    padding: 0;
    margin: 20px;
    font-size: medium;
}
.paginado li {
    display: inline;
}

.paginado li button {
    float: left;
    padding: 8px 18px;
    border-radius: 8px;
    background-color: #ffffff;
    border: transparent;
    margin: 3px;
    filter: drop-shadow(15px 8px 8px rgb(150, 152, 153))
}

.paginado li button:hover{
    transform: scale(1.01);
    transition: all ease 200ms;
    background: #808080;
    color: rgb(255, 255, 255)
  }

.paginado li button:active{
    background-color: #eeeeee;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.paginado li button:focus{
    background-color: #364361;
    color:#eeeeee ;
}